################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeeManagementSystem/FileContentIndex/1478092d-e318-4ee4-922c-296afb30df90.vsidx
